#mywebsite section {
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}
#landing {
    background-image: linear-gradient(to bottom, rgb(0,0,0,0.30),rgba(200,200,200,0.30)), url(../img/landing-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    color: white;
    display: grid;
    place-content: center;

}
h1{
    font-size: 3vw;
    margin-top: 100px;
    margin-bottom: 10px;
}
#landing p{
    font-size: 17px;
    margin-left: 20px;

}
#blog {

    margin-top: 80px;

}
#blog :first-child{

    font-size: 30px;

}
#blog div {
    width: 280px;
    height: 380px;
    border: 1px solid gainsboro;
    display: inline-block;
    text-align: justify;
    text-align: left;
    margin: 5px;
    border-radius: 5px;
    box-shadow: -4px 3px 3px 0px rgb(36,34,34,0.75px); 
    -webkit-box-shadow: -4px 5px 5px -4px rgb (36,34,34,0.75);
    -moz-box-shadow: -4px 5px 5px -4px  rgb (36,34,34,0.75);


}
#blog h3{

    padding-left:35px;

}
#blog p{
    font-size: 15px;
    text-align:left;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
}
#blog a {
color:darkgray;
padding-left: 30px;
text-decoration: none;



}
div:nth-child(4){

    background-color: black;
    color: white;
}
img {
    width: 280px;
    height: 160px;
    border-radius: 5px;

}
#services{
    margin-top: 100px;
    background-color: whitesmoke;
    height: 400px;
}
#services h2{
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 30;
}
#services ul,li{
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    padding: 30px 50px;
    display: flex;
    display: inline;
}
ul :first-child{
    background-color: rgb(165, 44, 0);
}
li:hover{
    box-shadow: 0px -1px 5px 5px rgba(30,30,30,0.75);
    -webkit-box-shadow: 0px -1px 5px 5px rgba(30,30,30,0.75);
    -moz-box-shadow: 0px -1px 5px 5px rgba(30,30,30,0.75);
}